{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        <h1>Редактировать профиль.</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}
            {% for error in form.username.errors %}
                <span style="color: blue">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me }}
            {% for error in form.about_me.errors %}
                <span style="color: blue">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit }}</p>
    </form>
    <h4><a href="{{ url_for('change_password') }}">Сменить пароль</a></h4>
{% endblock %}